main{
  z-index:1;
  position:relative;
}
header{
  z-index:99;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:90px;
  @include transition(all 0.6s $easeOutExpo);
  .container{
    height:100%;
  }
  .header-logo{
    z-index:102;
    position:relative;
    width:130px;
    height:45px;
    img{
      position:absolute;
      &.header-logo--white{
        @include opacity(1);
      }
      &.header-logo--color{
        @include opacity(0);
      }
      @include transition(opacity 0.6s $easeOutExpo);
    }
  }
  .header-nav{
    display:none;
    position:relative;
    margin-left:30px;
    a{
      display:inline-block;
      font-size:1.3rem;
      font-weight:900;
      text-transform:uppercase;
      color:white;
      margin:0 20px 0 0;
    }
  }
  .mobile-nav{
    display:none;
    z-index:100;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:scroll;
    padding:100px 0 0 0;
    margin:0;
    background:var(--red) url("../img/mobile-nav-bg.jpg") no-repeat center;
    background-size:cover;
    text-align:center;
    &.show{
      display:block;
    }
    a{
      display:block;
      color:white;
      font-size:1.5rem;
      font-weight:900;
      text-transform: uppercase;
      margin:20px 0;
      @include transition(color 0.6s $easeOutExpo);
    }
    .mobile-menu{
      a{
        font-size:2rem;
      }
    }
    .mobile-social{
      a{
        display:inline-block;
        font-size:2.4rem;
        margin:0 0.25em;
      }
    }
    .mobile_copyright, .mobile_address{
      font-size:1.3rem;
      color:rgba(255,255,255,0.75);

    }
  }
  .header-right{
    .header-phone{
      display:none;
      a{
        color:white;
        font-size:1.3rem;
        font-weight:900;
        text-transform: uppercase;
        padding:0 20px 0 0;
        @include transition(color 0.6s $easeOutExpo);
      }
    }
    .btn-primary.btn--white{
      display:none;
      @include transition(all 0.6s $easeOutExpo);
    }
  }
}
header.active{
  background:white;
  box-shadow:0 0 16px 0 rgba(0,0,0,0.35);
  .header-logo{
    img.header-logo--white{
      @include opacity(0);
    }
    img.header-logo--color{
      @include opacity(1);
    }
  }
  .header-nav a, .header-phone a{
    color:var(--primary);
  }
  .btn-primary.btn--white{
    background:var(--red);
    border:1px solid var(--red);
  }
  .mobile-menu-btn {
    span{
      background: var(--primary);
    }
  }
}

@media(min-width: 768px) {

  header{
    .mobile-nav{
      display:none;
    }
    .header-nav{
      display:block;
    }
  }
  
}


.mobile-menu-btn {
  z-index:102;
  position:relative;
  display: block;
  height: 18px;
  width: 25px;
  span{
    display: block;
    position: absolute;
    width: 25px;
    left: 0;
    height: 2px;
    background: white;
    @include transition(transform 0.6s $easeOutExpo);
    &:nth-child(1){
      top: 0;
    }
    &:nth-child(2){
      top: 8px;  
    }
    &:nth-child(3){
      bottom: 0px; 
    }
  }
  &.active{
    span:nth-child(1) {
      top: 8px;
      @include transform(rotate(45deg));
    }
    span:nth-child(2) {
      display: none;
    }
    span:nth-child(3) {
      bottom: 8px;
      @include transform(rotate(-45deg));
    }
  }
}


@media(min-width: 768px) {
  .mobile-menu-btn{
    display: none;
  }
}

footer{
  .footer-apply-cta{
    text-align:center;
    padding:150px 0;
    background:var(--red) url('../img/apply-now-cta.jpg') no-repeat center;
    background-size:cover;
  }
  .footer-nav{
    background:var(--primary);
    padding:30px 0;
    text-align:center;
    a{
      display:inline-block;
      color:white;
      font-size:1.3rem;
      font-weight:900;
      text-transform: uppercase;
      padding:0 20px;
      border-right:1px solid rgba(255,255,255,0.35);
      &:last-child{
        border-right:none;
      }
    }
  }
  .footer-quick-links{
    padding:50px 0;
    .btn{
      margin:0 0 0 0.75em;
    }
  }
  .footer-social{
    padding:25px 0 60px 0;
    border-top:1px solid rgba(0,0,0,0.35);
    font-size:1.3rem;
    color:var(--secondary);
    a{
      display:inline-block;
      width:38px;
      height:38px;
      border-radius:100%;
      border:1px solid var(--red);
      text-align:center;
      line-height:36px;
      font-size:1.8rem;
      color:var(--red);
      margin:0 0.2em;
    }
  }
 
}


